/*
THIS IS A GENERATED/BUNDLED FILE FROM style.less
if you want to view the source, please visit the github repository of this plugin
*/

.deck-to-anki-status {
  color: var(--text-muted);
  font-size: 0.85em;
}
.deck-to-anki-settings {
  padding-top: 0.5rem;
}
.deck-to-anki-settings .setting-item {
  border-top: none;
}
.deck-to-anki-modal {
  padding: 1rem;
}
.deck-to-anki-modal__title {
  color: var(--interactive-accent);
  margin-bottom: 0.5rem;
}
